supabase
streamlit
streamlit-option-menu
openai
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
tiktoken
plotly
pypdf
psycopg2-binary
pydantic
pgvector
python-dotenv
requests
sqlalchemy
psutil
arq
redis
pymysql
boto3
cryptography
twilio
uvicorn>=0.27.0
structlog
fastapi
asyncpg
bcrypt
python-jose[cryptography]
aiokafka
twilio>=9.0.0
stripe