supabase
streamlit
streamlit-option-menu
openai
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
tiktoken
plotly
pypdf
psycopg2-binary
pydantic
pgvector
python-dotenv
requests
sqlalchemy
alembic
psutil
arq
redis
pymysql
boto3
cryptography
twilio
uvicorn>=0.27.0
structlog
fastapi
asyncpg
bcrypt
python-jose[cryptography]
aiokafka
email-validator
markdown2
python-multipart
python-docx
qdrant-client
twilio>=9.0.0
stripepytest>=7.0
